includes:
    - phpstan-baseline.neon

parameters:
    level: max

    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php

    paths:
        - src
        - tests

    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        - src/Test/DoctrineOrmTestCase.php

services:
    -
        class: Knp\DoctrineBehaviors\PHPStan\Type\TranslatableTranslateDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: Knp\DoctrineBehaviors\PHPStan\Type\TranslatableGetTranslationsDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: Knp\DoctrineBehaviors\PHPStan\Type\TranslationGetTranslatableDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
